name: Keep App Alive

on:
  schedule:
    # Roda a cada 6 horas (00:00, 06:00, 12:00, 18:00 UTC)
    - cron: '0 */6 * * *'
  workflow_dispatch: # Permite rodar manualmente se quiser

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Wake up Streamlit App
        run: |
          curl -I https://bh-strategic-navigator.streamlit.app